/* body{
    background-color: rgb(245, 245, 245);
}
h1, h2, h3 {
    text-align: center;
}
.style{
    border-spacing: 5px;
} 
.ins{
    padding: 4px;
}
.container{
    width:100%
} */

body{
background-color: rgb(245, 245, 164);
}
.text__universal__style{
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
}
.default__button__style{
    width: 170px;
    padding:8px;
    border-radius: 18px;
}
.big {
    font-size: 70px;
    font-weight: 900;
}
.bg-green{
    background-color: rgb(17, 199, 17);
}
.bg-dark{
    background-color: rgb(27, 25, 25);
}